<p id="notice"><%= notice %></p>

<h1>Lotteries</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lotteries.each do |lottery| %>
      <tr>
        <td><%= lottery.name %></td>
        <td><%= link_to 'Show', lottery %></td>
        <td><%= link_to 'Edit', edit_lottery_path(lottery) %></td>
        <td><%= link_to 'Destroy', lottery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lottery', new_lottery_path %>
