<p id="notice"><%= notice %></p>

<div>
	<%= @lottery.name %>
</div>
<% @lottery.contests.each do |contest| %>
	<div>
		<%= contest.name %>
	</div>
	<% contest.prizes.each do |prize| %>
		<div>
			<%= prize.name %>
		</div>
		<div>
			<%= prize.meta_data['test1'] %>
		</div>
		<% prize.images.each do |image| %>
			<div>
				<%= image_tag image %>
			</div>
		<% end %>
	<% end %>
<% end %>
<%= link_to 'Edit', edit_lottery_path(@lottery) %> |
<%= link_to 'Back', lotteries_path %>
